*.pyc
*~
__pycache__
/myvenv
db.sqlite3
# /static
.DS_Store
/media/uploads
parsed_ged
htmlcov
.coverage
chromedriver
.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
