h1 {
  color: blue;
}

footer {
  text-align: center;
}


#content {
  height: 500px;
  padding-top: 60px;
}

#home-info-text, #instructions-info-text, #upload-info-text {
  text-align: justify;
}

.incomplete {
  color: red;
}


#book-title {
  text-align: center;
}
