
#content {
  height: 500px;
  padding-top: 60px;
}

#home-info-text, #instructions-info-text, #upload-info-text {
  text-align: justify;
}

.incomplete {
  color: red;
}

.fav-name:hover {
  color: #31B0D5;
}

/*.heart {
  display: none;
}*/
