{% extends 'babynamebook/base.html' %}

{% block content %}

<article class="align-self-top col-md-12" id="my-books">
  <h2 class="mb-3 text-center">My Books</h2>
  <div class="container">
    <div class="row ">
      {% for bookchunk in bookinfo %}
        <div class="card col col-md-6 col-lg-4 px-3 col-sm-12">
          <div class="card-block">
            <h4 class="card-title">{{ bookchunk.book.title }}</h4>
            <p class="card-text">This book contains {{ bookchunk.namelength }} names from the original tree of {{ bookchunk.personlength }} people.</p>
            <p class="card-text">
              <small><strong>Top Girl Names:</strong>  {{ bookchunk.topgirl }}</small>
            </p>
            <p class="card-text">
              <small><strong>Top Boy Names:</strong>  {{ bookchunk.topboy }}</small>
            </p>
            <a href="{% url 'book' pk=bookchunk.book.pk %}" class="btn btn-outline-info">See book</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>


</article>


{% endblock %}
