{% extends 'babynamebook/base.html' %}

{% block content %}

<article class="align-self-top col-md-12" id="my-books">
  <div class="container">
    <div class="row ">
      <section class="col-sm-12 col-md-6 col-lg-8">
        <h2 class="mb-3 text-center">My Books</h2>

        {% for bookchunk in bookinfo %}
          <div class="card col px-3 col-sm-12">
            <div class="card-block">
              <h4 class="card-title">{{ bookchunk.book.title }}</h4>
              <p class="card-text">This book contains {{ bookchunk.namelength }} names from the original tree of {{ bookchunk.personlength }} people.</p>
              <p class="card-text">
                <small><strong>Top Girl Names:</strong>  {{ bookchunk.topgirl }}</small>
              </p>
              <p class="card-text">
                <small><strong>Top Boy Names:</strong>  {{ bookchunk.topboy }}</small>
              </p>
              <a href="{% url 'book' pk=bookchunk.book.pk %}" class="btn btn-outline-success">See book</a>
            </div>
          </div>
        {% endfor %}
      </section>
      <section class="col-sm-12 col-md-6 col-lg-3">
        <h2 class="mb-3 text-center">My Favorite Names</h2>
        <section id="fav-names-content">
          {% for name in favorites %}
          <div data-id="{{name.pk}}" class="text-center btn-group fav-name">
            <p class="text-center name-line{{name.pk}}">{{ name.first_name }}</p>
            <a>
              <img id="delete{{name.pk}}" class="delete img-fluid" style="display: none; width: 19px; padding-left: 3px; padding-top: 3px;" src="../../static/trash.png" alt="delete-favorite-icon">
            </a>
          </div>
          <br />
          {% endfor %}
        </section>
        <section id="update-favs-list" style="display: none">
          {% for name in favorites %}
          <div data-id="{{name.pk}}" class="text-center btn-group fav-name">
            <p class="text-center name-line{{name.pk}}">{{ name.first_name }}</p>
            <a>
              <img id="delete{{name.pk}}" class="delete img-fluid" style="display: none; width: 19px; padding-left: 3px; padding-top: 3px;" src="../../static/trash.png" alt="delete-favorite-icon">
            </a>
          </div>
          <br />
          {% endfor %}
        </section>


      </section>
    </div>

  </div>


</article>


{% endblock %}
