{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <title>babynamebook</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/babynamebook.css' %}">
</head>
<body>
  <header>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="{% url 'home' %}" class="navbar-brand mb-0">babynamebook</a>
      <section class="collapse navbar-collapse" id="navbarSupportedContent">
        <section class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
          <a class="nav-item nav-link" href={% url 'account' %}>account</a>
          <a class="nav-item nav-link" href={% url 'logout' %}>log out {{ user.username }}</a>
          {% else %}
          <a class="nav-item nav-link" href={% url 'login' %}>log in</a>
          {% endif %}
          <a class="nav-item nav-link" role="button" data-toggle="modal" data-target="#contactModal">
            contact
          </a>
          <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="ancestryModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="contactModalLabel">Aurora Anderson</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>I made this website for my capstone project while at Ada Developers Academy (cohort 7).</p>
                  <p>Check out my <a href="http://www.github.com/auroralemieux">github</a> here.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
    </nav>

  </header>

  <section id="content" class="content container">
    <section class="row justify-content-around">
      {% block content %}
      {% endblock %}
    </section>
  </section>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
