{% extends 'babynamebook/base.html' %}

{% block content %}

<article class="align-self-top container" id="extra-data">
  <h2 class="text-center mb-3">{{ book.title }}</h2>
  <section class="row mb-3">
    <button type="button" class="mr-1 btn btn-secondary" data-toggle="modal" data-target="#girlModal">
      top 10 girl names
    </button>
    <button type="button" class="mx-1 btn btn-secondary" data-toggle="modal" data-target="#boyModal">
      top 10 boy names
    </button>
    <button type="button" class="mx-1 btn btn-secondary" data-toggle="modal" data-target="#lastModal">
      top 10 last names
    </button>
    <button type="button" class="mx-1 btn btn-secondary" data-toggle="modal" data-target="#originModal">
      top 5 name origins
    </button>
    <button type="button" class="mx-1 btn btn-secondary" data-toggle="modal" data-target="#popModal">
      popular names
    </button>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Book Actions
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a id="collapse-all" class="dropdown-item" href="#">Collapse all</a>
        <a id="expand-all" class="dropdown-item" href="#">Expand all</a>
        <div class="dropdown-divider"></div>
        <form id="download_form" action="/book/{{book.pk}}/" method="POST">
          {% csrf_token %}
          <button type="submit" class="mb-3 btn btn-info dropdown-item" name="export_pdf">Export as pdf</button>
        </form>
      </div>
    </div>


  </section>
  <!-- modals -->
  <div class="modal fade" id="girlModal" tabindex="-1" role="dialog" aria-labelledby="girlModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="girlModalLabel">Top 10 girl names from your tree <small>by frequency</small></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ol>
            {% for key, value in top_female %}
            <li>{{ key }} ({{ value }})</li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="boyModal" tabindex="-1" role="dialog" aria-labelledby="boyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="boyModalLabel">Top 10 boy names from your tree <small>by frequency</small></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ol>
            {% for key, value in top_male %}
            <li>{{ key }} ({{ value }})</li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="lastModal" tabindex="-1" role="dialog" aria-labelledby="lastModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="lastModalLabel">Top last names in tree <small>by frequency</small></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ol>
            {% for key, value in top_last %}
            <li>{{ key }} ({{ value }})</li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="originModal" tabindex="-1" role="dialog" aria-labelledby="originModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="originModalLabel">Top 3 origins of names in tree <small>by frequency</small></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ol>
            {% for key, value in top_origin %}
            <li>{{ key }} ({{ value }})</li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="popModal" tabindex="-1" role="dialog" aria-labelledby="popModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="popModalLabel">Popular names</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body container">
          <small>Names from your tree that were on the 2016 SSA list of most popular names.</small>
          <section class="row">
            <section class="col-md-6">
              <p class="mt-3 text-center">
                <strong>Girls</strong>
              </p>
              {% for name in pop_girl_names %}
              <p class="text-center">{{ name }}</p>
              {% endfor %}
            </section>
            <section class="col-md-6">
              <p class="mt-3 text-center">
                <strong>Boys</strong>
              </p>
              {% for name in pop_boy_names %}
              <p class="text-center">{{ name }}</p>
              {% endfor %}
            </section>
          </section>

        </div>
      </div>
    </div>
  </div>
</article>
<article class="align-self-top col-md-10 col-lg-10 col-sm-12" id="letters">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% for letter, boysngirls in all_names %}
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading{{letter}}">
        <h4 class="text-center panel-title">
          <button class="btn btn-outline-success btn-block" data-toggle="collapse" data-parent="#accordion" href="#collapse{{letter}}" aria-expanded="true" aria-controls="collapse{{letter}}">
            <strong>{{letter}}</strong>
            <p><small>{% with boysngirls|first as boys %}{{ boys|length }}{% endwith %} boys and  {% with boysngirls|last as girls %}{{ girls|length }}{% endwith %} girls</small></p>
          </button>
        </h4>
      </div>
      <div id="collapse{{letter}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{letter}}">
        <div class="panel-body container">
          <div class="row">
            <div class="col-md-6 col-sm-12 mb-3">
              <h4 class="text-center">Boys</h4>
              {% with boysngirls|first as boys %}
                {% for person in boys %}
                <p><strong>{{ person.first_name }}</strong> <em>({{ person.origin }})</em> {{ person.meaning }}</p>
                {% empty %}
                <p class="text-center">none found</p>
                {% endfor %}
              {% endwith %}
            </div>
            <div class="col-md-6 col-sm-12 mb-3">
              <h4 class="text-center">Girls</h4>
              {% with boysngirls|last as girls %}
                {% for person in girls %}
                <p><strong>{{ person.first_name }}</strong> <em>({{ person.origin }})</em> {{ person.meaning }}</p>
                {% empty %}
                <p class="text-center">none found</p>
                {% endfor %}
              {% endwith %}
            </div>
          </div>

        </div>
    </div>
    </div>
    {% endfor %}
  </div>
</article>

{% endblock %}
