{% extends 'babynamebook/base.html' %}
{% load staticfiles %}
{% block content %}

<article class="align-self-top" id="extra-data">
  <h2 class="text-center">{{ book.title }}</h2>
  <p class="text-center mb-4"><small>find again on <em>my books</em></small></p>

  <nav class="text-center navbar navbar-light navbar-toggleable-md">

    <a role="button" class="nav-item nav-link" data-toggle="modal" data-target="#girlModal">
      Girl Names
    </a>
    <a role="button" class="nav-item nav-link" data-toggle="modal" data-target="#boyModal">
      Boy Names
    </a>
    <a role="button" class="nav-item nav-link" data-toggle="modal" data-target="#lastModal">
      Last Names
    </a>
    <a role="button" class="nav-item nav-link" data-toggle="modal" data-target="#originModal">
      Name Origins
    </a>
    <a role="button" class="nav-item nav-link" data-toggle="modal" data-target="#popModal">
      Popular Names
    </a>
    <div class="dropdown">
      <a class="nav-item nav-link dropdown-toggle" role="button" id="bookActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Book Actions
      </a>
      <div class="dropdown-menu" aria-labelledby="bookActions">
        <a id="collapse-all" class="dropdown-item" href="#">Collapse all</a>
        <a id="expand-all" class="dropdown-item" href="#">Expand all</a>
        <div class="dropdown-divider"></div>
        <form id="download_form" action="/book/{{book.pk}}/" method="POST">
          {% csrf_token %}
          <button type="submit" class="mb-3 btn btn-info dropdown-item" name="export_pdf">Export as pdf</button>
        </form>
      </div>
    </div>
  </nav>
  <!-- modals -->
  <div class="modal fade" id="girlModal" tabindex="-1" role="dialog" aria-labelledby="girlModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="girlModalLabel">Top 10 girl names from your tree <small>by frequency</small></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% for key, value in top_female %}
          <p class="text-center">{{ key }} ({{ value }})</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="boyModal" tabindex="-1" role="dialog" aria-labelledby="boyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="boyModalLabel">Top 10 boy names from your tree <small>by frequency</small></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {% for key, value in top_male %}
            <p class="text-center">{{ key }} ({{ value }})</p>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="lastModal" tabindex="-1" role="dialog" aria-labelledby="lastModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="lastModalLabel">Top last names in tree <small>by frequency</small></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% for key, value in top_last %}
          <p class="text-center">{{ key }} ({{ value }})</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="originModal" tabindex="-1" role="dialog" aria-labelledby="originModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="originModalLabel">Top 5 origins of names in tree <small>by frequency</small></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% for key, value in top_origin %}
          <p class="text-center">{{ key }} ({{ value }})</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="popModal" tabindex="-1" role="dialog" aria-labelledby="popModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="popModalLabel">Popular names</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body container">
          <small>Names from your tree that were on the 2016 SSA list of most popular names.</small>
          <section class="row">
            <section class="col-md-6">
              <p class="mt-3 text-center">
                <strong>Girls</strong>
              </p>
              {% for name in pop_girl_names %}
              <p class="text-center">{{ name }}</p>
              {% endfor %}
            </section>
            <section class="col-md-6">
              <p class="mt-3 text-center">
                <strong>Boys</strong>
              </p>
              {% for name in pop_boy_names %}
              <p class="text-center">{{ name }}</p>
              {% endfor %}
            </section>
          </section>

        </div>
      </div>
    </div>
  </div>


</article>
<article class="align-self-top col-md-10 col-lg-10 col-sm-12" id="letters">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% for letter, boysngirls in all_names %}
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading{{letter}}">
        <h4 class="panel-title text-left">
          <button class="btn btn-outline-success btn-block" data-toggle="collapse" data-parent="#accordion" href="#collapse{{letter}}" aria-expanded="true" aria-controls="collapse{{letter}}">
            <strong>{{letter}}</strong>
            <small class="text-right">{% with boysngirls|first as boys %}{{ boys|length }} boy{{boys|pluralize}}{% endwith %} and  {% with boysngirls|last as girls %}{{ girls|length }} girl{{girls|pluralize}}{% endwith %}</small>
          </button>
        </h4>
      </div>
      <div id="collapse{{letter}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{letter}}">
        <div class="panel-body container">
          <div class="row">
            <div class="col-md-6 col-sm-12 mb-3">
              <h4 class="my-3 text-center">Boys</h4>
              {% with boysngirls|first as boys %}
              {% for person in boys %}

              <div data-book="{{book.pk}}" data-id="{{person.pk}}" class="btn-group name-group">
                <!-- <p class="name-line" data-book="{{book.pk}}" data-id="{{person.pk}}"><strong class="name-in-list" id="name{{person.pk}}" style="{% if user in person.users.all %}color: blue{% else %}color: black{% endif %}">{{ person.first_name }}</strong> <em>({{ person.origin }})</em> {{ person.meaning }}</p> -->
                <p class="name-line{{person.pk}}"><strong>{{ person.first_name }}</strong> <em>({{ person.origin }})</em> {{ person.meaning }}</p>

                <a>

                  <img id="heart{{person.pk}}" class="heart img-fluid" style="width: 19px; padding-left: 3px; padding-top: 3px;" src={% if user in person.users.all %}"{% static 'blue-heart-icon.png' %}"{% else %}"{% static 'plain-heart.jpg' %}"{% endif %} alt="heart-favorite-icon">
                </a>


              </div>
              <br />
              {% empty %}
              <p class="text-center">none found</p>
              {% endfor %}
              {% endwith %}
            </div>
            <div class="col-md-6 col-sm-12 mb-3">
              <h4 class="my-3 text-center">Girls</h4>
              {% with boysngirls|last as girls %}
              {% for person in girls %}
              <div data-book="{{book.pk}}" data-id="{{person.pk}}" class="btn-group name-group">
                <p class="name-line{{person.pk}}"><strong>{{ person.first_name }}</strong> <em>({{ person.origin }})</em> {{ person.meaning }}</p>


                <a>
                  <img id="heart{{person.pk}}" class="heart img-fluid" style="width: 19px; padding-left: 3px; padding-top: 3px;" src={% if user in person.users.all %}"{% static 'blue-heart-icon.png' %}"{% else %}"{% static 'plain-heart.jpg' %}"{% endif %} alt="heart-favorite-icon">
                  <!-- <img id="heart{{person.pk}}" class="heart img-fluid" style="width: 19px; padding-left: 3px; padding-top: 3px;" src={% if user in person.users.all %}"https://s3-us-west-2.amazonaws.com/babynamebooktestbucket/static/blue-heart-icon.png"{% else %}"https://s3-us-west-2.amazonaws.com/babynamebooktestbucket/static/plain-heart.jpg"{% endif %} alt="heart-favorite-icon"> -->
                </a>


              </div>
              <br />
              {% empty %}
              <p class="text-center">none found</p>
              {% endfor %}
              {% endwith %}
            </div>
          </div>

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</article>


{% endblock %}
