{% extends 'babynamebook/base.html' %}

{% block content %}
<section class="container">
  <nav class="breadcrumb">
    <a class="breadcrumb-item" href="/">Home</a>
    <a class="breadcrumb-item" href="/get_tree_instructions">Get Tree</a>
    <a class="breadcrumb-item" href="/upload_tree">Upload Tree</a>
    <a class="breadcrumb-item" href="/progress">Parse Tree</a>
    <a class="breadcrumb-item active" href="/correlate">My baby name book</a>
  </nav>
</section>
<section class="container">
  <h2 class="text-center">{{ book.title }}</h2>
</section>
<article class="align-self-top col-md-5 col-lg-5 col-sm-12" id="girl-data">
  <h3 class="text-center">Girls</h3>
  {% for letter, names in all_girls %}
    <section class="card mb-3 card-outline-warning">
      <section class="card-block">
        <h3 class="card-title text-center">{{ letter }}</h3>
        {% for girl in names %}
        <p><strong>{{ girl.first_name }}</strong> <em>({{ girl.origin }})</em> {{ girl.meaning }}</p>
        {% endfor %}
      </section>
    </section>
  {% endfor %}
</article>
<article class="align-self-top col-md-5 col-lg-5 col-sm-12" id="boy-data">
  <h3 class="text-center">Boys</h3>
  {% for letter, names in all_boys %}
    <section class="card mb-3 card-outline-info">
      <section class="card-block">
        <h3 class="card-title text-center">{{ letter }}</h3>
        {% for boy in names %}
          <p><strong>{{ boy.first_name }}</strong> <em>({{ boy.origin }})</em> {{ boy.meaning }}</p>
        {% endfor %}
      </section>
    </section>
  {% endfor %}
</article>


{% endblock %}
