{% extends 'babynamebook/base.html' %}

{% block content %}
<section class="container">
  <nav class="breadcrumb">
    <a class="breadcrumb-item" href="/">Home</a>
    <a class="breadcrumb-item" href="/get_tree_instructions">Get Tree</a>
    <a class="breadcrumb-item" href="/upload_tree">Upload Tree</a>
    <a class="breadcrumb-item" href="/progress">Parse Tree</a>
    <a class="breadcrumb-item active" href="/correlate">My baby name book</a>
  </nav>
</section>
<section class="container">
  <h2>{{ book.title }}</h2>
</section>
<article class="align-self-top col-md-5 col-lg-5 col-sm-12" id="girl-data">
  <h3>Girls</h3>
  {% for letter_girls in all_girls %}
    <section class="card">
      {% for girl in letter_girls %}
        <p><strong>{{ girl.first_name }}</strong> <em>({{ girl.origin }})</em> {{ girl.meaning }}</p>
      {% endfor %}
    </section>
  {% endfor %}
</article>
<article class="align-self-top col-md-5 col-lg-5 col-sm-12" id="boy-data">
  <h3>Boys</h3>
  {% for letter_boys in all_boys %}
    <section class="card">
      {% for boy in letter_boys %}
        <p><strong>{{ boy.first_name }}</strong> <em>({{ boy.origin }})</em> {{ boy.meaning }}</p>
      {% endfor %}
    </section>
  {% endfor %}
</article>


{% endblock %}
