{% extends 'babynamebook/base.html' %}

{% block content %}
<section class="container">
  <nav class="breadcrumb">
    <a class="breadcrumb-item" href="/">Home</a>
    <a class="breadcrumb-item" href="/get_tree_instructions">Get Tree</a>
    <a class="breadcrumb-item" href="/upload_tree">Upload Tree</a>
    <a class="breadcrumb-item" href="/progress">Parse Tree</a>
    <a class="breadcrumb-item active" href="/correlate">My baby name book</a>
  </nav>
</section>
<section class="container">
  <h2 class="text-center">{{ book.title }}</h2>
</section>
<article class="align-self-top col-md-2 col-lg-2 col-sm-12" id="extra-data">
  <h3 class="text-center">Stats</h3>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#girlModal">
    top 10 girl names
  </button>
  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#boyModal">
    top 10 boy names
  </button>
  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#lastModal">
    top 10 last names
  </button>

  <!-- Modal -->
  <div class="modal fade" id="girlModal" tabindex="-1" role="dialog" aria-labelledby="girlModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="girlModalLabel">Top 10 girl names from your tree</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% for key, value in top_female %}
              <p>{{ key }} ({{ value }})</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="boyModal" tabindex="-1" role="dialog" aria-labelledby="boyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="boyModalLabel">Top 10 girl names from your tree</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% for key, value in top_male %}
              <p>{{ key }} ({{ value }})</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="lastModal" tabindex="-1" role="dialog" aria-labelledby="lastModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="lastModalLabel">Top last names in tree</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% for key, value in top_last %}
              <p>{{ key }} ({{ value }})</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</article>
<article class="align-self-top col-md-5 col-lg-5 col-sm-12" id="girl-data">
  <h3 class="text-center">Girls</h3>
  {% for letter, names in all_girls %}
    <section class="card mb-3 card-outline-warning">
      <section class="card-block">
        <h3 class="card-title text-center">{{ letter }}</h3>
        {% for girl in names %}
        <p><strong>{{ girl.first_name }}</strong> <em>({{ girl.origin }})</em> {{ girl.meaning }}</p>
        {% endfor %}
      </section>
    </section>
  {% endfor %}
</article>
<article class="align-self-top col-md-5 col-lg-5 col-sm-12" id="boy-data">
  <h3 class="text-center">Boys</h3>
  {% for letter, names in all_boys %}
    <section class="card mb-3 card-outline-info">
      <section class="card-block">
        <h3 class="card-title text-center">{{ letter }}</h3>
        {% for boy in names %}
          <p><strong>{{ boy.first_name }}</strong> <em>({{ boy.origin }})</em> {{ boy.meaning }}</p>
        {% endfor %}
      </section>
    </section>
  {% endfor %}
</article>


{% endblock %}
