{% extends 'babynamebook/base.html' %}

{% block content %}

<article class="align-self-top col-md-6 col-lg-6 col-sm-12 mb-4" id="upload-instructions">
  <h2>For starters, we need your tree!</h2>
  <p id="instructions-info-text">The standard format for family trees is a file type with an extension of .ged. If you haven't already done so, you will need to get a .ged file to upload. </p>
  <p>Log in to your favorite genealogy site where you already have a family tree built and export the tree you want. For instructions on how to do that, click one of the buttons below.</p>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#ancestryModal">
    ancestry.com
  </button>
  <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#heritageModal">
    myheritage.com
  </button>

  <!-- Modal -->
  <div class="modal fade" id="ancestryModal" tabindex="-1" role="dialog" aria-labelledby="ancestryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ancestryModalLabel">downloading tree from ancestry</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          While viewing your tree, click the drop-down and choose tree settings. If this is the first time you're doing this, there will be an EXPORT TREE button on the right, near the bottom. After you click that, click on DOWNLOAD YOUR GEDCOM FILE. Save the file to your computer.
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="heritageModal" tabindex="-1" role="dialog" aria-labelledby="heritageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="heritageModalLabel">downloading tree from myheritage</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Hover over the Family tree link at the top and choose Manage Trees. Click the Export to GEDCOM link to the right of the tree you wish to download. Follow instructions.
        </div>
      </div>
    </div>
  </div>

</article>
<article class="align-self-top col-md-6 col-lg-6 col-sm-12">
    <p>You must be logged in to continue. Log in or create an account (from the log in page).</p>
    <a role="button" class="btn btn-success hollow" id="instructions-button" href="{% url 'upload_tree' %}">Continue</a>
</article>

{% endblock %}
