{% extends 'babynamebook/base.html' %}
{% load staticfiles %}

{% block content %}

<article class="align-self-top  justify-content-center col-lg-8 col-sm-12" id="home-instructions">
  <h2 class="">What names are hidden in your tree?</h2>
  <img id="flow-pic" class="mt-5 img-fluid mb-5" src="{% static 'flowchart.svg' %}" alt="flowchart-of-babynamebook-steps">
</article>
<article class="align-self-top right-main-content col-md-4 col-lg-4 col-sm-12">
  <a role="button" class="btn btn-success btn-lg" id="start-button" href="{% url 'get_tree_instructions' %}">Start</a>
</article>

{% endblock %}
