{% extends 'babynamebook/base.html' %}

{% block content %}
<article class="align-self-center left-main-content col-md-6 col-lg-6 col-sm-12" id="home-instructions">
  <h2>What names are hidden in your tree?</h2>
  <p id="home-info-text">babynamebook takes your family tree and combs through it for all the first names. Then it correlates all names with their meanings and origins. The result is a beautifully formatted custom book to use in your own baby name hunt!</p>
  <ol id="home-steps">
    <li>Click Start.</li>
    <li>Upload your family tree (instructions given, don't worry!)</li>
    <li>Watch the magic happen!</li>
  </ol>
</article>

<article class="align-self-center right-main-content col-md-6 col-lg-6 col-sm-12" id="start">

  <a type="button" class="btn btn-primary btn-block" id="start-button" href="{% url 'upload_tree' %}">Start</a>
</article>
{% endblock %}
