{% extends 'babynamebook/base.html' %}

{% block content %}
<article class="align-self-center left-main-content col-md-8 col-lg-8 col-sm-12" id="person-list">
  <h2>Persons in tree</h2>
  {% for person in book.persons: %}
    <section>
      <p>First name: {{ person.first_name }}</p>
      <p>Last name: {{ person.last_name }}</p>
      <p>Birth year: {{ person.birth_year }}</p>
    </section>
  {% endfor %}
</article>

<article class="align-self-center right-main-content col-md-4 col-lg-4 col-sm-12" id="tree-persons-details">
  <p class="incomplete">
    this should list number of persons uploaded and maybe number for whom values are unknown.
  </p>
  <p>Number of persons in tree: {% len(book.persons) %}</p>

  <!-- <a type="button" class="btn btn-primary btn-block" id="start-button" href="#">Upload</a> -->
</article>
{% endblock %}
