{% extends 'babynamebook/base.html' %}

{% block content %}
<section class="container">
  <nav class="breadcrumb">
    <a class="breadcrumb-item" href="/">Home</a>
    <a class="breadcrumb-item" href="/upload_tree">Upload Tree</a>
    <a class="breadcrumb-item active" href="/progress">Parsing Tree</a>
  </nav>
</section>
<article class="align-self-center left-main-content col-md-5 col-lg-5 col-sm-12" id="rough-tree-details">
  <h2>Some stats from your tree...</h2>
  <p>{{ total_persons }} people in your tree.</p>
  <p>{{ num_m }} male and {{ num_f }} female.</p>
  <p class="incomplete">button here to associate meanings/origins</p>
</article>

<!-- <article class="align-self-center right-main-content col-md-4 col-lg-4 col-sm-12" id="tree-persons-details">
  <p class="incomplete">
    this should list number of persons uploaded and maybe number for whom values are unknown.
  </p>
  <p>Number of persons in tree: unknown</p>

</article> -->
{% endblock %}
