{% extends 'babynamebook/base.html' %}

{% block content %}

<article class="align-self-top left-main-content col-md-5 col-lg-5 col-sm-12" id="rough-tree-details">
  <h2>Now we're cooking with steam!</h2>
  <p>We found {{ total_persons }} people in your tree.</p>
  <ul>
    <li>{{ num_m }} male</li>
    <li>{{ num_f }} female</li>
  </ul>
</article>
<article class="align-self-top right-main-content col-md-5 col-lg-5 col-sm-12">
  <a role="button" class="btn btn-success" id="correlate-button" href="{% url 'book' pk=book.pk %}">See my book</a>
</article>

{% endblock %}
