{% extends 'babynamebook/base.html' %}
{% load staticfiles %}

{% block content %}

<!-- <article class="align-self-top" id="search-results"> -->
  <section class="align-self-top col-md-6 col-lg-4 col-sm-12">
    <!-- <img class="img-fluid" src="{% static 'chart.png' %}" alt="chart-of-name-by-birth-year"> -->
    <img class="img-fluid" src="{{ chart }}" alt="chart-of-name-by-birth-year">

    <p class="text-center"><small>Frequency of '{{search_term}}' in names across centuries by birth year within the mybabynamebook database.</small></p>
  </section>
  <section class="align-self-top col-md-6 col-lg-6 col-sm-12">

    {% with total=results|length %}
    <h2 class="text-center ">{{ total }} name{{ total|pluralize }} matching '{{search_term}}'</h2>
    {% endwith %}
    <p class="text-center mb-4"><small>All names and genders are taken from the SSA database of historical names. Any errors are my own.</small></p>

    <div class="mb-3">
      {% if girls %}
      <h4 class="my-3 text-center">Girls</h4>

      {% for result in girls %}
      <p><strong>{{ result.first_name }}</strong> <em>({{ result.origin }})</em> {{ result.meaning }}</p>
      {% endfor %}

      {% endif %}
    </div>

    <div class="mb-3">
      {% if boys %}

      <h4 class="my-3 text-center">Boys</h4>

      {% for result in boys %}
      <p><strong>{{ result.first_name }}</strong> <em>({{ result.origin }})</em> {{ result.meaning }}</p>
      {% endfor %}

      {% endif %}
    </div>
  </section>
<!-- </article> -->

{% endblock %}
