{% extends 'babynamebook/base.html' %}

{% block content %}
<section class="container">
  <nav class="breadcrumb">
    <a class="breadcrumb-item" href="/">Home</a>
    <a class="breadcrumb-item" href="/get_tree_instructions">Get Tree</a>
    <a class="breadcrumb-item active" href="/upload_tree">Upload Tree</a>
    <a class="breadcrumb-item" href="/progress">Parse Tree</a>
    <a class="breadcrumb-item" href="/correlate">My baby name book</a>
</nav>
</section>
<article class="align-self-top right-main-content col-md-6 col-lg-6 col-sm-12" id="upload">
  <h2>Time to create your book!</h2>
  <p id="upload-info-text">Choose a name for your book, then upload your file. When you are ready, click Next.</p>

</article>
<article class="align-self-top right-main-content col-md-6 col-lg-6 col-sm-12" id="upload">
  <h2>Create Book</h2>
  <form enctype="multipart/form-data" method="POST" id="new-book-form">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn save btn-info" id="upload-submit-button">Next</button>
  </form>
  <p>Please be patient as this may take a little bit...</p>

</article>
{% endblock %}
